<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="SpringBootNativeSettings">
    <option name="linkedExternalProjectsSettings">
      <NativeProjectSettings>
        <option name="externalProjectPath" value="$PROJECT_DIR$/Patient-Service/src/main/java/com/pm/PatientServiceApplication.java" />
        <option name="qualifiedMainClassName" value="com.pm.PatientServiceApplication" />
        <option name="runConfigurationName" value="PatientServiceApplication" />
      </NativeProjectSettings>
    </option>
  </component>
</project>